.structure-table{
    
    max-height: fit-content;
}



.diV{
    display: flex;
    justify-content: center;
    align-items: center;
}

.firefighter{
    width: 300px;
    height: 200px;
    
}
p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

.separate{
   
    margin-bottom: 20px;
   
}

.bottom{
    margin-bottom: 55px;
}