body{
    background-color: #4A94C9;
    margin: 0;
}

.firstDiv{
    background-color: rgb(22, 79, 126);
    height: fit-content;
   
}

.imageLogo{
    width: 35px;
    height: 35px;
    margin: 5px;
}

.combine{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.Burgas{
    margin: 0;
    color: whitesmoke;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: 400ms;
}
.Burgas:hover{
    color: rgb(243, 239, 16);
}

.left-header-button-allign{
    text-align: right;
    width: 97%;
   
}

.left-header-button{
    font-size: 16px;
    font-weight: bold;
    background-color: yellow;
    border: none;
    margin-right: 5px;
    padding: 10px;
    border-radius: 30%;
}

.left-header-button-allign::after{
   content: 'Info';
   color: rgb(243, 239, 16);
   margin-right: 25px;
}


.social-media{
    background-color: white;
    display: block;
    position: fixed;
    top: 50%;
overflow: hidden;
    border-radius: 0px 5px 5px 0px;
    border-top: solid rgb(22, 79, 126);
    border-right: solid rgb(22, 79, 126);
    border-bottom: solid rgb(22, 79, 126);
}

.social-media-button{
    width: 50px;
    height: 50px;
}

.navbar{
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #2376AE;
    
}

.info{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    
    position: relative;     
    line-height: 55px;
    
}

.info:hover{
    background-color: tomato;
    overflow: hidden;
}

.navLogo{
    width: 55px;
    height: 55px;
}
